{% load static %}
{% load humanize %}
{#{% load tz %}#}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>
           {{ title }}
        </title>


        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="mobioapp" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

        <link href="{% static '' %}global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{% static '' %}global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{% static '' %}global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

         <link href="{% static '' %}global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="{% static '' %}global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static '' %}global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static '' %}global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static '' %}layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="{% static '' %}layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static '' %}layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />


        <script src="{% static '' %}global/scripts/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <link href="{% static '' %}global/css/dd.css" rel="stylesheet" type="text/css" />
        <link href="{% static '' %}global/css/custom.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" charset="utf8" src="{% static 'global/scripts/bootstrap-filestyle.js' %}"></script>


    <!-- END HEAD -->


