<li class="nav-item {{ user }}">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-user"></i>
        <span class="title">User</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">

         <li class="nav-item {{ user_list }}">
            <a href="{% url 'users:list_user' %}" class="nav-link ">
                <span class="title">User List</span>

            </a>
        </li>

        <li class="nav-item {{ list_roles }}">
            <a href="{% url 'users:list_roles' %}" class="nav-link ">
                <span class="title">Role List</span>

            </a>
        </li>
    </ul>
</li>