{% extends 'base.html' %}
{% load static %}
{% load imagekit %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase">{{title}}</span>
                    </div>

                </div>
                 {% include 'includes/message_template.html' %}
                <div class="portlet-body">



                    <table id="sample_1" class="table table-striped table-bordered table-hover table-checkable order-column">
                            <thead>
                            <tr>
                                <th> Serial </th>
                                <th> Request Name </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for role in roles %}
                                <tr class="odd gradeX">

                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ role.role_title }}</td>

                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>

{% endblock %}
