{% extends 'base_login.html' %}
{% load static %}


{% block content %}

          <form class="login-form" action="" method="post">
                <p>Hi <span class="font-green font-bold">{{ user.first_name }}</span>, Just one more step to continue . . .</p>
                <h3 class="form-title">Set a password</h3>

                {% csrf_token %}
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="error-red">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                         {{ form.password }}
                    </div>
                </div>

                {% include 'includes/message_template.html' %}

                <div class="form-actions">
                    <button type="submit" class="btn green pull-right"> Finish </button>
                </div>
                <br>
            </form>

{% endblock %}